// $background: #fff;
// $background2:#d7d2d0;
// $background3:#525251;
// $primary:#fd4c2a;
// $text:#050504;

// background: #fff,
$background:#fff;
$background-2:#d7d2d0;
$bck:#191919;
$text: #050504;
$primary: #fd4e2b;
$primary-2: hsl(10, 98%, 60%);
$primary-3: hsl(10, 98%, 48%);
$cyan:#00abff;
$red: #f65d46;
$blue: #0062ff;
$yellow:#fffb00;
$green:#7ef646;
$purple:#9900ff;
