@import './themes/hk13';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: $background;
    color: $text;
}

.ccenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
        text-align: center;
        margin-bottom: 20px;
        animation: 1.5s spawnAnimation forwards;
        animation-delay: .5s;
        opacity: 0;
    }

    form {
        display: flex;
        flex-direction: column;

        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid $text;
            border-radius: 5px;
            font-size: 16px;
            color: $text;
            background: #fff;
            outline: none;
            transition: .7s;
            animation: 1.5s spawnAnimation ease-in-out;

            &:valid {
                border: 1px solid $primary;

                +button[type="submit"] {
                    background: $primary;
                    color: $background;
                    cursor: pointer;
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }

        button[type="submit"] {
            transition: .7s;
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            color: $primary;
            border: 1px solid $primary;
            background: $background;
            opacity: 0;
            cursor: default;
            transform: translateY(100px);
        }
    }
}

.bottomRight {
    position: fixed;
    bottom: 0;
    right: 0;
    
    padding: 10px;

    svg{
        color: $text;
        $size: 36px;
        width: $size;
        height: $size;
    }
}

@keyframes spawnAnimation{
    0%{
        opacity: 0;
        transform: scale(1.5);
    }
    50%{
        opacity: 1;
        transform: scale(.9);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@media screen and (max-width: 600px) {
    .ccenter{
        width: 90vw;
    }
}